
spring:
  application:
    name: airlines-service
  datasource:
    url: jdbc:postgresql://localhost:5432/airline_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

